html {
    box-sizing: border-box;
    color: rgb(126, 186, 214);
}

ul {
    list-style-type: none;
}


*, *::before, *::after{
    box-sizing: inherit;
}

body {
    font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    position: relative;
    min-height: 100vh;
}

h1 {
    font-size: 105px;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

h3 {
    font-size: small;
}

.search{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}

.button {
    display: flex;
    justify-content: space-around;
}
